{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
   <div class="container mt-5  py-5 class="bg-image" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIAvB9fWoGN298Hnsagj1T4Z3JxxbwGqtaLQ&usqp=CAU')">
 <div class="card">
  <div class="card-header">
    <h1 class="text-center text-warning">Les différentes commentaires</h1>
  </div >
  <div class="card-body">
      <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {# <a href="{{ path('app_comment_show', {'id': comment.id}) }}">show</a> #}
                     {# <a href="{{ path('app_comment_edit', {'id': comment.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_comment_new') }}">Create new</a>
  </div>
</div>
</div>
   
{% endblock %}
