{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
  
<div class="container mt-5  py-5 class="bg-image" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR22OWy8BW6oJiv9oxQj9iex21kxDKBp5vyDw&usqp=CAU')">
 <div class="card">
  <div class="card-header">
  <h1 class="text-center">Nos types Article </h1>
  </div >
  <div class="card-body">
     <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>
                
                    <a href="{{ path('app_articles_show', {'id': article.id}) }}">show</a>
                    {# <a href="{{ path('app_articles_edit', {'id': article.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_articles_new') }}">Create new</a> #}
  </div>
</div>
</div>

   
{% endblock %}