{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
  
<div class="container mt-5  py-5 class="bg-image" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQksze_N9LDbOJ8wwUL4DhxqpaR-SpBi7q4g&usqp=CAU')">
 <div class="card">
 <div class="card-header text-danger text-center">
    <h1 class="text-center text-warning">Les différentes commentaires</h1>
 </div>
  <div class="card-body">
     <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                <form method="post" action="{{ path('app_admin_comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <a href="{{ path('app_admin_comment_show', {'id': comment.id}) }}">show</a>
                    <a href="{{ path('app_admin_comment_edit', {'id': comment.id}) }}">edit</a>
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_comment_new') }}">Create new</a>
  </div>
</div>
</div>

   
{% endblock %}